<div class="wrapper fadeInDown">
  
    <div id="formContent">
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1qObOOdayPTpmwFZWOCtM5vwskzRjE1R_RHWaaRZ-8a3XYmG4XL7qL3cNm0lGPExA4SQ&usqp=CAU" 
        id="icon"  />
      </div>
      <form>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Enter username" 
          class="fadeIn second" 
        >
        <input 
          type="password" 
          class="form-control"  
          class="fadeIn second" 
          placeholder="password"
        >
        <input type="submit" class="fadeIn fourth" value="login">
      </form>
      <div id="formFooter">
        <a class="underlineHover" routerLink="/signup">Forgot Password?</a>
      </div>
    </div>
  </div>
  