<div class="wrapper fadeInDown">
  
    <div id="formContent">
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1qObOOdayPTpmwFZWOCtM5vwskzRjE1R_RHWaaRZ-8a3XYmG4XL7qL3cNm0lGPExA4SQ&usqp=CAU" 
        id="icon"  />
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <input 
          formControlName="firstname"
          type="text" 
          class="form-control" 
          placeholder="First Name" 
          class="fadeIn second" 
        >
        <input 
        formControlName="lastname"
          type="text" 
          class="form-control" 
          placeholder="Last Name" 
          class="fadeIn second" 
        >
        <input 
        formControlName="email"
          type="text" 
          class="form-control" 
          placeholder="Email" 
          class="fadeIn second" 
        >
        <input 
        formControlName="password"
          type="password" 
          class="form-control"  
          class="fadeIn second" 
          placeholder="password"
        >
        <input type="submit" class="fadeIn fourth" value="Signup">
      </form>
      <div id="formFooter">
        <a class="underlineHover" routerLink="">Already have account?</a>
      </div>
    </div>
  </div>
  